<div itemscope="" itemtype="http://schema.org/Product">

    <meta itemprop="url"
          content="https://www.valuetainmentstore.com/products/patrick-bet-david-t-shirt-valuetainment-companies-26">
    <meta itemprop="image"
          content="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_99975a6f-1edc-4202-800c-e191564e9676_grande.jpg?v=1540955338">


    <div class="grid product-single">

        <!-- #PRODUCT PHOTO -->
        <div class="product-left">


            <div class="title-price-mobile">
                <h1 itemprop="name">Valuetainment I Heart Capitalism K</h1>
                <div class="style-n-price">
                    <span class="style-name-mobile">Men's Premium T-Shirt</span>
                    <span class="visually-hidden">Regular price</span>
                    <span id="ProductPrice-mobile" itemprop="price">$24.99</span>
                </div>
            </div>

            <div class="product-single__photos" id="ProductPhoto">


                <!--
                        <a href="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_99975a6f-1edc-4202-800c-e191564e9676.jpg?v=1540955338" id="ProductPhotoImgMagicZoom" class="MagicZoom" data-options="zoomOn:click; zoomPosition: inner; expand:false; lazyZoom:false;" ><img id="ProductPhotoImg" class="lazyload" src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/eeeeee-1.png?17018070243535577568" data-src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_99975a6f-1edc-4202-800c-e191564e9676_grande.jpg?v=1540955338"></a> -->


                <img id="ProductPhotoImg" class="lazy" src="{{ main_image.image.url }}">


                <a style="display:none;" href="{{ product.image.url }}" id="ProductPhoto-5900846137403"
                   class="__MagicZoom"
                   data-options="zoomOn:click; zoomPosition: inner; expand:false; lazyZoom:false;"><img
                        class="ProductPhotoImg" src="{{ product.image.url }}"></a>

                <a style="display:none;" href="{{ product.image.url }}" id="ProductPhoto-5900846170171"
                   class="__MagicZoom"
                   data-options="zoomOn:click; zoomPosition: inner; expand:false; lazyZoom:false;"><img
                        class="ProductPhotoImg" src="{{ product.image.url }}"></a>


            </div>


        </div>
        <!-- / -->


        <!-- #PRODUCT INFORMATION -->
        <div class="grid__item large--one-quarter product-info">


            <h1 itemprop="name">{{ product.title }}</h1>

            <div class="style-n-price">
                <span class="style-name">{{ product.style }}</span>
                <span class="visually-hidden">Regular price</span>
                <span id="ProductPrice" itemprop="price">{{ product.price }} ₽</span>

            </div>


            <div class="__owl-carousel" id="ProductThumbs">
                {% for prduct in images %}
                    <div>
                        <a onclick="" class="product-single__thumbnail">
                            <img src="{{ prduct.image.url }}" alt="Patrick Bet-David Men's Premium T-Shirt | 500 LEVEL">
                        </a>
                    </div>
                {% endfor %}


            </div>


            <div class="selected-variant">Style: {{ product.style }} / Color: {{ product.colour }}</div>


            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="USD">

                <link itemprop="availability" href="http://schema.org/InStock">

                <script>

                    var count=0;


                    function add_to_basket() {
                        $.ajax({
                            url: '/get_cookie/',
                            type: 'get',
                            success: function (data) {
                                count = data.value;
                                count = Number(count) ;
                                count = count+1;
                                 $('#CartCount').html(count);
                                $.ajax({
                                    url: '/set_cookie/',
                                    type: 'post',
                                    dataType: 'json',
                                    data: {'value': count, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                                    success: function (data) {

                                    },
                                    error: function (data) {

                                    }
                                });
                            }
                        });

                        $.ajax({
                            url: '.',
                            type: 'post',
                            dataType: 'json',
                            data: $('#AddToCartForm').serialize(),
                            success: function (data) {

                            }
                        });
                        $('.timber-icon-cart').click();
                    }
                </script>

                <!-- #PRODUCT FORM -->
                <form action="javascript:void(0)" method="post" enctype="multipart/form-data" id="AddToCartForm"
                      class="form-vertical">


                    <div class="selector-wrapper" style="display: block">
                        <label for="productSelect-option-2">Размер</label>
                        <select id="productSelect-option-2" class="single-option-selector" data-option="option3">
                            {% for foo in product.size.all %}
                                <option value="{{ foo.size }}">{{ foo.size }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    {% csrf_token %}
                    <a class="size-chart-link" href="#size-chart">Size Chart</a>
                    <label for="Quantity" class="quantity-selector" style="display: inline;">Quantity</label>

                    <div class="js-qty" style="display: block;">
                        <button type="button" class="js-qty__adjust js-qty__adjust--minus _icon-fallback-text"
                                data-id="" data-qty="0">
                            <span class="icon icon-minus" aria-hidden="true"></span>
                            <span class="fallback-text">−</span>
                        </button>
                        <input type="text" class="js-qty__num" value="1" min="1" data-id="" aria-label="quantity"
                               pattern="[0-9]*" name="quantity" id="Quantity">
                        <button type="button" class="js-qty__adjust js-qty__adjust--plus _ico-fallback-text" data-id=""
                                data-qty="11">
                            <span class="icon icon-plus" aria-hidden="true"></span>
                            <span class="fallback-text">+</span>
                        </button>
                    </div>
                    <br clear="all">
                    <button type="submit" name="add" id="AddToCart" class="btn products" onclick="add_to_basket()">
                        <span id="AddToCartText">Add to Cart</span>
                    </button>
                    <a class="shipping-returns-link" href="#shipping-returns">Shipping &amp; Returns</a>

                </form>
                <!-- / -->


                <style>
                    .visible {
                        display: block !important;
                    }
                </style>

                <div id="notify-me-block" style="display:none;">
                    <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8"
                          class="contact-form"><input type="hidden" name="form_type" value="contact"><input
                            type="hidden" name="utf8" value="✓">


                        <p>Click <a id="notify-me" href="#">here</a> to be notified by email when Valuetainment I Heart
                            Capitalism K becomes available.</p>


                        <div id="notify-me-wrapper" class="clearfix" style="display:none; margin:10px 0;">

                            <input style="float:left; width:200px;" required="required" type="email"
                                   name="contact[email]" placeholder="your@email.com" class="styled-input" value="">

                            <input type="hidden" name="contact[body]"
                                   value="Please notify me when Valuetainment I Heart Capitalism K becomes available.">
                            <input style="float:left; margin-left:5px;" class="btn styled-submit" type="submit"
                                   value="Send">
                        </div>


                        <script>

                            jQuery(document).ready(
                                function () {
                                    if (location.hash == '#contact_form') {
                                        jQuery('#notify-me-block').addClass('visible');
                                    }
                                }
                            )


                            jQuery('#notify-me').click(function () {

                                jQuery('#notify-me-wrapper').fadeIn();

                                return false;
                            });
                        </script>

                    </form>
                </div>


                <div class="sharethis-custom">
                    <div data-network="facebook" class="st-custom-button st-hide-label"><span
                            class="icon icon-facebook"></span></div>
                    <div data-network="twitter" class="st-custom-button st-hide-label"><span
                            class="icon icon-twitter"></span></div>
                    <div data-network="pinterest" class="st-custom-button st-hide-label"><span
                            class="icon icon-pinterest"></span></div>
                </div>

                <!-- <div class="customer-note" style="margin-bottom: 30px;">
         <p> type customer note here </p>
         </div> -->


                <div class="product-description-mobile rte" itemprop="description">
                    <h2>Patrick Bet-David Men's Premium T-Shirt </h2>
                    <p>The ultimate in comfort and intensely soft, our Premium Tri-Blend shirt is our most popular
                        apparel style! This vintage graphic tee has knitted striations similar to your comfy P.E.
                        T-shirts when you were young.</p>
                    <ul>
                        <li>Slim Fit</li>
                        <li>Tri Colors - 50% Polyester / 25% Cotton / 25% Rayon</li>
                        <li>Heather Colors - 60% Cotton / 40% Polyester</li>
                        <li>Crewneck Short Sleeve T-Shirt</li>
                        <li>Digitally Printed Graphics</li>
                        <li>Machine Wash Cold, Tumble Dry Low</li>
                    </ul>
                </div>


                <!-- #RELATED PRODUCTS MOBILE -->
                <div id="related-products-container-mobile">

                    <!-- related products start -->


                    <h1>You Might Also Like</h1>

                    <div class="related-products owl-carousel owl-theme" style="display: block; opacity: 0;">


                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 160px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 20px;">
                                    <div class="grid__item product">


                                        <a href="/products/valuetainment-t-shirt-valuetainment-companies-14/"
                                           class="link grid__image kids"><img class="lazy"
                                                                              src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/eeeeee-1.png?17018070243535577568"
                                                                              data-src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_1e0ce441-c87c-4661-b934-75913d93ed14_1024x1024.jpg?v=1540995514"
                                                                              alt="">

                                            <div class="product-title">Valuetainment Men's Premium T-Shirt</div>
                                            <div class="product-style">Valuetainment I Am Rainbow WHT</div>
                                            <p class="price">$24.99</p>
                                            <div class="ui loader"></div>
                                        </a>


                                        <ul class="product-options">

                                            <li id="product-options-1828999233595">


                                                <div class="product-options-set set-2 o-2">


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-1"
                                                           style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_1e0ce441-c87c-4661-b934-75913d93ed14_1024x1024.jpg?v=1540995514">
                                                        <input checked="" type="radio" data-option-index="1"
                                                               name="Color" value="Tri Gray">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-2"
                                                           style="cursor:pointer;background-size:contain; background-color: black; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-black.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Black_99728376-a12a-4263-a813-3cd4d173a526_1024x1024.jpg?v=1540995514">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Black">
                                                    </label>


                                                </div>


                                                <div class="product-options-set set-3 o-6">


                                                </div>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                                <div class="owl-item" style="width: 20px;">
                                    <div class="grid__item product">


                                        <a href="/products/patrick-bet-david-t-shirt-valuetainment-companies-27/"
                                           class="link grid__image kids"><img class="lazy"
                                                                              src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/eeeeee-1.png?17018070243535577568"
                                                                              data-src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_c25a5213-91dd-4527-bb7e-349778f91aae_1024x1024.jpg?v=1540954810"
                                                                              alt="">

                                            <div class="product-title">Patrick Bet-David Men's Premium T-Shirt</div>
                                            <div class="product-style">Valuetainment Godfather W WHT</div>
                                            <p class="price">$24.99</p>
                                            <div class="ui loader"></div>
                                        </a>


                                        <ul class="product-options">

                                            <li id="product-options-1825866907707">


                                                <div class="product-options-set set-2 o-6">


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-1"
                                                           style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_c25a5213-91dd-4527-bb7e-349778f91aae_1024x1024.jpg?v=1540954810">
                                                        <input checked="" type="radio" data-option-index="1"
                                                               name="Color" value="Tri Gray">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-2"
                                                           style="cursor:pointer;background-size:contain; background-color: red; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-red.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Red_078975d9-44b9-48e1-a5f2-156ebc92e930_1024x1024.jpg?v=1540954810">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Red">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-3"
                                                           style="cursor:pointer;background-size:contain; background-color: green; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/heather-kelly-green.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Heather-Kelly-Green_014eb411-fb2b-4d29-82d3-6b96d64296f2_1024x1024.jpg?v=1540954810">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Heather Kelly Green">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-4"
                                                           style="cursor:pointer;background-size:contain; background-color: royal; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-royal.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Royal_9c4d8d88-460f-4015-9546-eebaea0e99a4_1024x1024.jpg?v=1540954810">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Royal">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-5"
                                                           style="cursor:pointer;background-size:contain; background-color: purple; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/heather-purple.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Heather-Purple_e21c9d3d-56bc-4d2d-9b65-6da00032da0c_1024x1024.jpg?v=1540954810">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Heather Purple">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-6 hidden"
                                                           style="cursor:pointer;background-size:contain; background-color: turquoise; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-turquoise.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Turquoise_47e2d339-cecc-48f4-a5dc-36de6e33be95_1024x1024.jpg?v=1540954811">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Turquoise">
                                                    </label>


                                                </div>


                                                <div class="product-options-set set-3 o-6">


                                                </div>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                                <div class="owl-item" style="width: 20px;">
                                    <div class="grid__item product">


                                        <a href="/products/valuetainment-t-shirt-valuetainment-companies-05/"
                                           class="link grid__image kids"><img class="lazy"
                                                                              src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/eeeeee-1.png?17018070243535577568"
                                                                              data-src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Ash_19def3fd-5429-4129-82da-1ca033845b15_1024x1024.jpg?v=1540995144"
                                                                              alt="">

                                            <div class="product-title">Valuetainment Men's Premium T-Shirt</div>
                                            <div class="product-style">Valuetainment Enjoy K</div>
                                            <p class="price">$24.99</p>
                                            <div class="ui loader"></div>
                                        </a>


                                        <ul class="product-options">

                                            <li id="product-options-1828972888123">


                                                <div class="product-options-set set-2 o-2">


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-1"
                                                           style="cursor:pointer;background-size:contain; background-color: ash; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-ash.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Ash_19def3fd-5429-4129-82da-1ca033845b15_1024x1024.jpg?v=1540995144">
                                                        <input checked="" type="radio" data-option-index="1"
                                                               name="Color" value="Tri Ash">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-2"
                                                           style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_16496d14-402b-4b57-8bde-9171aed6d899_1024x1024.jpg?v=1540995144">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Gray">
                                                    </label>


                                                </div>


                                                <div class="product-options-set set-3 o-6">


                                                </div>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                                <div class="owl-item" style="width: 20px;">
                                    <div class="grid__item product">


                                        <a href="/products/valuetainment-t-shirt-valuetainment-companies-11/"
                                           class="link grid__image kids"><img class="lazy"
                                                                              src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/eeeeee-1.png?17018070243535577568"
                                                                              data-src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_3876b855-2167-42c4-a0fa-621d3c32dea9_1024x1024.jpg?v=1540995395"
                                                                              alt="">

                                            <div class="product-title">Valuetainment Men's Premium T-Shirt</div>
                                            <div class="product-style">Valuetainment I Heart Capitalism R</div>
                                            <p class="price">$24.99</p>
                                            <div class="ui loader"></div>
                                        </a>


                                        <ul class="product-options">

                                            <li id="product-options-1828990615611">


                                                <div class="product-options-set set-2 o-3">


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-1"
                                                           style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_3876b855-2167-42c4-a0fa-621d3c32dea9_1024x1024.jpg?v=1540995395">
                                                        <input checked="" type="radio" data-option-index="1"
                                                               name="Color" value="Tri Gray">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-2"
                                                           style="cursor:pointer;background-size:contain; background-color: red; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-red.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Red_da9c3ba7-b4ad-415c-9ee0-ab76865f00a4_1024x1024.jpg?v=1540995395">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Red">
                                                    </label>


                                                    <!-- TRUE RED PATCH? -->


                                                    <label class="color  number-3"
                                                           style="cursor:pointer;background-size:contain; background-color: ash; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-ash.jpg)">
                                                        <input class="imageSrc" type="hidden"
                                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Ash_c9d9ff6a-bd0f-4d77-addc-c6b77ba73f91_1024x1024.jpg?v=1540995395">
                                                        <input type="radio" data-option-index="1" name="Color"
                                                               value="Tri Ash">
                                                    </label>


                                                </div>


                                                <div class="product-options-set set-3 o-6">


                                                </div>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="owl-controls clickable" style="display: none;">
                            <div class="owl-pagination">
                                <div class="owl-page"><span class=""></span></div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- / -->

            </div>


        </div>

    </div>


    <div class="product-below">


        <div class="product-description rte" itemprop="description">
            <h1>Patrick Bet-David Men's Premium T-Shirt </h1>
            <p>The ultimate in comfort and intensely soft, our Premium Tri-Blend shirt is our most popular apparel
                style! This vintage graphic tee has knitted striations similar to your comfy P.E. T-shirts when you were
                young.</p>
            <ul>
                <li>Slim Fit</li>
                <li>Tri Colors - 50% Polyester / 25% Cotton / 25% Rayon</li>
                <li>Heather Colors - 60% Cotton / 40% Polyester</li>
                <li>Crewneck Short Sleeve T-Shirt</li>
                <li>Digitally Printed Graphics</li>
                <li>Machine Wash Cold, Tumble Dry Low</li>
            </ul>
        </div>

        <!-- #RELATED PRODUCTS -->
        {#        <div id="related-products-container">#}
        {#            <!-- related products start -->#}
        {##}
        {##}
        {#            <h1>You Might Also Like</h1>#}
        {##}
        {#            <div class="related-products owl-carousel owl-theme" style="display: block; opacity: 1;">#}
        {##}
        {##}
        {#                <div class="owl-wrapper-outer">#}
        {#                    <div class="owl-wrapper" style="width: 1632px; left: 0px; display: block;">#}
        {#                        <div class="owl-item" style="width: 204px;">#}
        {#                            <div class="grid__item product">#}
        {##}
        {##}
        {#                                <a href="/products/valuetainment-t-shirt-valuetainment-companies-14/"#}
        {#                                   class="link grid__image kids"><img class="lazy"#}
        {#                                                                      src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_1e0ce441-c87c-4661-b934-75913d93ed14_1024x1024.jpg?v=1540995514"#}
        {#                                                                      alt="" style="display: block;">#}
        {##}
        {#                                    <div class="product-title">Valuetainment Men's Premium T-Shirt</div>#}
        {#                                    <div class="product-style">Valuetainment I Am Rainbow WHT</div>#}
        {#                                    <p class="price">$24.99</p>#}
        {#                                    <div class="ui loader"></div>#}
        {#                                </a>#}
        {##}
        {##}
        {#                                <ul class="product-options">#}
        {##}
        {#                                    <li id="product-options-1828999233595">#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-2 o-2">#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-1"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_1e0ce441-c87c-4661-b934-75913d93ed14_1024x1024.jpg?v=1540995514">#}
        {#                                                <input checked="" type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Gray">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-2"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: black; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-black.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Black_99728376-a12a-4263-a813-3cd4d173a526_1024x1024.jpg?v=1540995514">#}
        {#                                                <input type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Black">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                        </div>#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-3 o-6">#}
        {##}
        {##}
        {#                                        </div>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {##}
        {##}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="owl-item" style="width: 204px;">#}
        {#                            <div class="grid__item product">#}
        {##}
        {##}
        {#                                <a href="/products/patrick-bet-david-t-shirt-valuetainment-companies-27/"#}
        {#                                   class="link grid__image kids"><img class="lazy"#}
        {#                                                                      src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_c25a5213-91dd-4527-bb7e-349778f91aae_1024x1024.jpg?v=1540954810"#}
        {#                                                                      alt="" style="display: block;">#}
        {##}
        {#                                    <div class="product-title">Patrick Bet-David Men's Premium T-Shirt</div>#}
        {#                                    <div class="product-style">Valuetainment Godfather W WHT</div>#}
        {#                                    <p class="price">$24.99</p>#}
        {#                                    <div class="ui loader"></div>#}
        {#                                </a>#}
        {##}
        {##}
        {#                                <ul class="product-options">#}
        {##}
        {#                                    <li id="product-options-1825866907707">#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-2 o-6">#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-1"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_c25a5213-91dd-4527-bb7e-349778f91aae_1024x1024.jpg?v=1540954810">#}
        {#                                                <input checked="" type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Gray">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-2"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: red; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-red.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Red_078975d9-44b9-48e1-a5f2-156ebc92e930_1024x1024.jpg?v=1540954810">#}
        {#                                                <input type="radio" data-option-index="1" name="Color" value="Tri Red">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-3"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: green; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/heather-kelly-green.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Heather-Kelly-Green_014eb411-fb2b-4d29-82d3-6b96d64296f2_1024x1024.jpg?v=1540954810">#}
        {#                                                <input type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Heather Kelly Green">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-4"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: royal; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-royal.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Royal_9c4d8d88-460f-4015-9546-eebaea0e99a4_1024x1024.jpg?v=1540954810">#}
        {#                                                <input type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Royal">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-5"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: purple; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/heather-purple.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Heather-Purple_e21c9d3d-56bc-4d2d-9b65-6da00032da0c_1024x1024.jpg?v=1540954810">#}
        {#                                                <input type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Heather Purple">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-6 hidden"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: turquoise; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-turquoise.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Turquoise_47e2d339-cecc-48f4-a5dc-36de6e33be95_1024x1024.jpg?v=1540954811">#}
        {#                                                <input type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Turquoise">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                        </div>#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-3 o-6">#}
        {##}
        {##}
        {#                                        </div>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {##}
        {##}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="owl-item" style="width: 204px;">#}
        {#                            <div class="grid__item product">#}
        {##}
        {##}
        {#                                <a href="/products/valuetainment-t-shirt-valuetainment-companies-05/"#}
        {#                                   class="link grid__image kids"><img class="lazy"#}
        {#                                                                      src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Ash_19def3fd-5429-4129-82da-1ca033845b15_1024x1024.jpg?v=1540995144"#}
        {#                                                                      alt="" style="display: block;">#}
        {##}
        {#                                    <div class="product-title">Valuetainment Men's Premium T-Shirt</div>#}
        {#                                    <div class="product-style">Valuetainment Enjoy K</div>#}
        {#                                    <p class="price">$24.99</p>#}
        {#                                    <div class="ui loader"></div>#}
        {#                                </a>#}
        {##}
        {##}
        {#                                <ul class="product-options">#}
        {##}
        {#                                    <li id="product-options-1828972888123">#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-2 o-2">#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-1"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: ash; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-ash.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Ash_19def3fd-5429-4129-82da-1ca033845b15_1024x1024.jpg?v=1540995144">#}
        {#                                                <input checked="" type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Ash">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-2"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_16496d14-402b-4b57-8bde-9171aed6d899_1024x1024.jpg?v=1540995144">#}
        {#                                                <input type="radio" data-option-index="1" name="Color" value="Tri Gray">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                        </div>#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-3 o-6">#}
        {##}
        {##}
        {#                                        </div>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {##}
        {##}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="owl-item" style="width: 204px;">#}
        {#                            <div class="grid__item product">#}
        {##}
        {##}
        {#                                <a href="/products/valuetainment-t-shirt-valuetainment-companies-11/"#}
        {#                                   class="link grid__image kids"><img class="lazy"#}
        {#                                                                      src="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_3876b855-2167-42c4-a0fa-621d3c32dea9_1024x1024.jpg?v=1540995395"#}
        {#                                                                      alt="" style="display: block;">#}
        {##}
        {#                                    <div class="product-title">Valuetainment Men's Premium T-Shirt</div>#}
        {#                                    <div class="product-style">Valuetainment I Heart Capitalism R</div>#}
        {#                                    <p class="price">$24.99</p>#}
        {#                                    <div class="ui loader"></div>#}
        {#                                </a>#}
        {##}
        {##}
        {#                                <ul class="product-options">#}
        {##}
        {#                                    <li id="product-options-1828990615611">#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-2 o-3">#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-1"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_3876b855-2167-42c4-a0fa-621d3c32dea9_1024x1024.jpg?v=1540995395">#}
        {#                                                <input checked="" type="radio" data-option-index="1" name="Color"#}
        {#                                                       value="Tri Gray">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-2"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: red; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-red.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Red_da9c3ba7-b4ad-415c-9ee0-ab76865f00a4_1024x1024.jpg?v=1540995395">#}
        {#                                                <input type="radio" data-option-index="1" name="Color" value="Tri Red">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                            <!-- TRUE RED PATCH? -->#}
        {##}
        {##}
        {#                                            <label class="color  number-3"#}
        {#                                                   style="cursor:pointer;background-size:contain; background-color: ash; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-ash.jpg)">#}
        {#                                                <input class="imageSrc" type="hidden"#}
        {#                                                       value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Ash_c9d9ff6a-bd0f-4d77-addc-c6b77ba73f91_1024x1024.jpg?v=1540995395">#}
        {#                                                <input type="radio" data-option-index="1" name="Color" value="Tri Ash">#}
        {#                                            </label>#}
        {##}
        {##}
        {#                                        </div>#}
        {##}
        {##}
        {#                                        <div class="product-options-set set-3 o-6">#}
        {##}
        {##}
        {#                                        </div>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {##}
        {##}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {##}
        {##}
        {#                <div class="owl-controls clickable" style="display: none;">#}
        {#                    <div class="owl-pagination">#}
        {#                        <div class="owl-page"><span class=""></span></div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {##}
        {#        </div>#}
        <!-- / -->


    </div>

    <!-- / -->


</div>