<footer class="site-footer small--text-center" role="contentinfo">
    <div class="wrapper">
        <div class="grid">


            <div class="grid__item large--one-third footer-links">
                <h6>Learn More</h6>

                <ul>


                    <li><a href="/pages/contact-us">Contact Us</a></li>


                </ul>

            </div>


            <div class="grid__item large--one-third get-connected">


                <h6>Get Connected</h6>
                <ul class="inline-list social-icons">

                    <li>
                        <a target="_blank" class="timber-icon-fallback-text"
                           href="https://twitter.com/patrickbetdavid" title="Valuetainment on Twitter">
                            <span class="timber-icon timber-icon-twitter" aria-hidden="true"></span>
                            <span class="fallback-text">Twitter</span>
                        </a>
                    </li>


                    <li>
                        <a target="_blank" class="timber-icon-fallback-text"
                           href="https://www.facebook.com/valuetainmentmedia/"
                           title="Valuetainment on Facebook">
                            <span class="timber-icon timber-icon-facebook" aria-hidden="true"></span>
                            <span class="fallback-text">Facebook</span>
                        </a>
                    </li>


                    <li>
                        <a target="_blank" class="timber-icon-fallback-text"
                           href="https://www.instagram.com/valuetainment/" title="Valuetainment on instagram">
                            <span class="timber-icon timber-icon-instagram" aria-hidden="true"></span>
                            <span class="fallback-text">instagram</span>
                        </a>
                    </li>

                </ul>


            </div>

            <div class="grid__item large--one-third join-our-newsletter">


                <h6>Join Our Newsletter</h6>

                <!--               <form action="//500level.us6.list-manage.com/subscribe/post?u=21c56b94e3f063bf4d8bdf6e2&amp;id=afadd1dd17" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                                <input type="email" value="" placeholder="Enter your email address" name="EMAIL" id="mail" class="input-group-field" aria-label="email@example.com" autocorrect="off" autocapitalize="off">
                                <span class="input-group-btn">
                                  <input type="submit" class="btn" name="subscribe" id="subscribe" value="Subscribe">
                                </span>
                              </form> -->

                <form id="email_signup"
                      class="klaviyo_condensed_styling klaviyo_condensed_float klaviyo_condensed_embed_Navucc"
                      action="//manage.kmail-lists.com/subscriptions/subscribe"
                      data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET"
                      target="_blank" novalidate="novalidate">
                    <input type="hidden" name="g" value="MDDHyw">
                    <div class="klaviyo_field_group">
                        <label for="k_id_email">Newsletter Sign Up</label>
                        <input type="email" value="" name="email" id="k_id_email" placeholder="Email Address"/>
                    </div>
                    <div class="klaviyo_messages">
                        <div class="success_message" style="display:none;"></div>
                        <div class="error_message" style="display:none;"></div>
                    </div>
                    <div class="klaviyo_form_actions">
                        <button type="submit" class="klaviyo_submit_button">Sign Up</button>
                    </div>
                </form>
                <style type="text/css">
                    .klaviyo_styling.klaviyo_condensed_embed_Navucc,
                    .klaviyo_condensed_styling.klaviyo_condensed_embed_Navucc {
                        font-family: "open sans";
                        color: #fff
                    }

                    .klaviyo_styling.klaviyo_condensed_embed_Navucc label,
                    .klaviyo_condensed_styling.klaviyo_condensed_embed_Navucc label {
                        color: #222;
                    }

                    .klaviyo_styling.klaviyo_condensed_embed_Navucc input[type=text],
                    .klaviyo_styling.klaviyo_condensed_embed_Navucc input[type=email],
                    .klaviyo_condensed_styling.klaviyo_condensed_embed_Navucc input[type=text],
                    .klaviyo_condensed_styling.klaviyo_condensed_embed_Navucc input[type=email] {
                        border-radius: 2px;
                        font: 12px open sans;
                        border: none;
                    }

                    .klaviyo_styling.klaviyo_condensed_embed_Navucc .klaviyo_submit_button,
                    .klaviyo_condensed_styling.klaviyo_condensed_embed_Navucc .klaviyo_submit_button {
                        background-color: #52c266;
                        border-radius: 2px;
                        color: #ffffff;
                    }

                    .klaviyo_styling.klaviyo_condensed_embed_Navucc .klaviyo_submit_button:hover,
                    .klaviyo_condensed_styling.klaviyo_condensed_embed_Navucc .klaviyo_submit_button:hover {
                        background-color: #52c266;
                    }

                    .klaviyo_condensed_styling .klaviyo_field_group {
                        width: calc(100% - 92px);
                    }

                    .klaviyo_condensed_styling, .klaviyo_styling {
                        margin-bottom: 18px;
                        max-width: 100%;
                    }

                    .klaviyo_condensed_styling input[type=text], .klaviyo_condensed_styling input[type=email], .klaviyo_styling input[type=text], .klaviyo_styling input[type=email] {
                        border: solid 1px #ccc;
                        border-radius: 3px;
                        padding: 7px 9px;
                        width: 100%;
                        height: 34px;
                        color: #b1b1b1;
                        font-size: 14px;
                        line-height: 20px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                </style>
                <script type="text/javascript"
                        src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
                <script type="text/javascript">
                    KlaviyoSubscribe.attachToForms('#email_signup', {
                        hide_form_on_success: true
                    });
                </script>


            </div>


            <div class="grid__item text-center">
                <hr>


                <div class="grid__item large--one-third medium--one-half oficial-logos">


                    <div id="official-logos">


                        <h6></h6>


                        <ul>


                            <li><a target="_blank" href="https://www.500level.com/" title=""><img
                                    src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/license-7-image.png?8879239935739047236"
                                    alt=""/></a></li>


                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>
</footer>