<div class="header-nav">

        <header class="site-header" role="banner">
        <div class="wrapper">

            <div class="header-mobile">


                <ul class="mobile-top-right-buttons">

                    <li><a href="/cart" class="js-drawer-open-right" aria-controls="CartDrawer"
                           aria-expanded="false"><span class="timber-icon timber-icon-cart"
                                                       aria-hidden="true"></span></a></li>
                </ul>


                <div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">


                    <a href="/" itemprop="url" class="site-header__logo-link">


                        <img src="https://s3.amazonaws.com/500level/Storefront+Assets/valuetainment/logo.png"
                             alt="Valuetainment" itemprop="logo">

                    </a>


                </div>


            </div>

            <div class="header-desktop">

                <!-- 	                <div class="site-nav-logo-wrapper"> -->


                <!-- #SITE NAV -->

                <ul class="site-nav" id="AccessibleNav">


                    <li style="display:none;">

                        <a href="/collections/men/style-mens-premium-t-shirt" class="site-nav__link sub-menu">МУЖЧИНЫ</a>


                        <ul class="second-level-menu b">
                            <li>
                                <a class="sub-link" href="/collections/men/style-mens-baseball-t-shirt"> Baseball
                                    T-Shirt</a>
                            </li>
                            <li>

                                <a class="sub-link" href="/collections/men/style-mens-cotton-t-shirt"> Cotton
                                    T-Shirt</a>

                            </li>
                            <li>

                                <a class="sub-link" href="/collections/men/style-mens-hoodie"> Hoodie</a>

                            </li>
                            <li>

                                <a class="sub-link" href="/collections/men/style-mens-premium-t-shirt"> Premium
                                    T-Shirt</a>
                            </li>
                        </ul>
                    </li>
                    <li style="display:none;">
                        <a href="/collections/women/style-womens-v-neck-t-shirt"
                           class="site-nav__link sub-menu">ЖЕНЩИНЫ</a>
                        <ul class="second-level-menu b">
                            <li>
                                <a class="sub-link" href="/collections/women/style-womens-v-neck-t-shirt"> V-Neck
                                    T-Shirt</a>
                            </li>
                        </ul>
                    </li>
                    <li style="display:none;">
                        <a href="/collections/kids/style-kids-t-shirt" class="site-nav__link sub-menu">ДЕТИ</a>
                        <ul class="second-level-menu b">
                            <li>
                                <a class="sub-link" href="/collections/kids/style-kids-baby-onesie"> Baby Onesie</a>
                            </li>
                            <li>
                                <a class="sub-link" href="/collections/kids/style-kids-t-shirt"> T-Shirt</a>
                            </li>
                            <li>
                                <a class="sub-link" href="/collections/kids/style-kids-youth-hoodie"> Youth Hoodie</a>
                            </li>
                        </ul>
                    </li>


                    <li style="display:none;">

                        <a href="/collections/hats" class="site-nav__link sub-menu">ШАПКИ</a>


                        <ul class="second-level-menu b">


                            <li>

                                <a class="sub-link" href="/collections/hats/style-beanie">Beanie</a>

                            </li>

                            <li>

                                <a class="sub-link" href="/collections/hats/style-dad-hat">Dad Hat</a>

                            </li>

                            <li>

                                <a class="sub-link" href="/collections/hats/style-flexfit">Flexfit</a>

                            </li>

                            <li>

                                <a class="sub-link" href="/collections/hats/style-snapback">Snapback</a>

                            </li>

                        </ul>


                    </li>


                    <li style="display:none;">

                        <a href="/collections/accessories" class="site-nav__link sub-menu">Аксессуары</a>


                        <ul class="second-level-menu b">


                            <li>

                                <a class="sub-link" href="/collections/accessories/style-fleece-blanket">Fleece
                                    Blanket</a>

                            </li>

                            <li>

                                <a class="sub-link" href="/collections/accessories/style-poster">Poster</a>

                            </li>

                            <li>

                                <a class="sub-link" href="/collections/accessories/style-throw-pillow">Throw Pillow</a>

                            </li>

                        </ul>


                    </li>


                    <li class="more" style="display:none;">
                        <a href="#more" class="site-nav__link">MORE</a>


                    </li>


                </ul>
                <!--           </div> -->
                <!-- / -->


                <div class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">


                    <a href="/" itemprop="url" class="site-header__logo-link">


                        <img src="https://s3.amazonaws.com/500level/Storefront+Assets/valuetainment/logo.png"
                             alt="Valuetainment" itemprop="logo">

                    </a>


                </div>


                <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer"
                   aria-expanded="false">
                    <span class="timber-icon timber-icon-cart" aria-hidden="true"></span>
                    <span id="CartCount">0</span>
                </a>


            </div>


        </div>
    </header>


</div>