<ul class="product-options">
                            <li id="product-options-1825866907707">
                                <div class="product-options-set set-2 o-6">


                                    <!-- TRUE RED PATCH? -->


                                    <label class="color  number-1"
                                           style="cursor:pointer;background-size:contain; background-color: gray; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-gray.jpg)">
                                        <input class="imageSrc" type="hidden"
                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Gray_c25a5213-91dd-4527-bb7e-349778f91aae_1024x1024.jpg?v=1540954810">
                                        <input checked type="radio" data-option-index="1" name="Color"
                                               value="Tri Gray"/>
                                    </label>


                                    <!-- TRUE RED PATCH? -->


                                    <label class="color  number-2"
                                           style="cursor:pointer;background-size:contain; background-color: red; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-red.jpg)">
                                        <input class="imageSrc" type="hidden"
                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Red_078975d9-44b9-48e1-a5f2-156ebc92e930_1024x1024.jpg?v=1540954810">
                                        <input type="radio" data-option-index="1" name="Color" value="Tri Red"/>
                                    </label>


                                    <!-- TRUE RED PATCH? -->


                                    <label class="color  number-3"
                                           style="cursor:pointer;background-size:contain; background-color: green; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/heather-kelly-green.jpg)">
                                        <input class="imageSrc" type="hidden"
                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Heather-Kelly-Green_014eb411-fb2b-4d29-82d3-6b96d64296f2_1024x1024.jpg?v=1540954810">
                                        <input type="radio" data-option-index="1" name="Color"
                                               value="Heather Kelly Green"/>
                                    </label>


                                    <!-- TRUE RED PATCH? -->


                                    <label class="color  number-4"
                                           style="cursor:pointer;background-size:contain; background-color: royal; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-royal.jpg)">
                                        <input class="imageSrc" type="hidden"
                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Royal_9c4d8d88-460f-4015-9546-eebaea0e99a4_1024x1024.jpg?v=1540954810">
                                        <input type="radio" data-option-index="1" name="Color" value="Tri Royal"/>
                                    </label>


                                    <!-- TRUE RED PATCH? -->


                                    <label class="color  number-5"
                                           style="cursor:pointer;background-size:contain; background-color: purple; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/heather-purple.jpg)">
                                        <input class="imageSrc" type="hidden"
                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Heather-Purple_e21c9d3d-56bc-4d2d-9b65-6da00032da0c_1024x1024.jpg?v=1540954810">
                                        <input type="radio" data-option-index="1" name="Color" value="Heather Purple"/>
                                    </label>


                                    <!-- TRUE RED PATCH? -->


                                    <label class="color  number-6 hidden"
                                           style="cursor:pointer;background-size:contain; background-color: turquoise; background-image: url(https://s3.amazonaws.com/storefront-assets-repository/Swatches/tri-turquoise.jpg)">
                                        <input class="imageSrc" type="hidden"
                                               value="//cdn.shopify.com/s/files/1/2304/3009/products/Men-Premium-T-Shirt-Tri-Turquoise_47e2d339-cecc-48f4-a5dc-36de6e33be95_1024x1024.jpg?v=1540954811">
                                        <input type="radio" data-option-index="1" name="Color" value="Tri Turquoise"/>
                                    </label>


                                </div>


                                <div class="product-options-set set-3 o-6">


                                </div>
                            </li>
                        </ul>