{% load static %}
<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/500level/Storefront+Assets/valuetainment/favicon.png"
          type="image/png"/>

    <!-- Title and description ================================================== -->
    <title>
        Valuetainment Official Store | Patrick Bet - David | Shirts and Gear
    </title>


    <meta name="description"
          content="Valuetainment Official Store. Buy Officially Licensed Valuetainment Shirts, Apparel and Merchandise. Powered by 500LEVEL.">

    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/semantic.css?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>

    <script  src="{% static 'store/js/jq1.11.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-1.11.1.min.js"
  integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
  crossorigin="anonymous"></script>

    <script  src="{% static 'store/js/sticky.min.js' %}"></script>


 <script  src="{% static 'store/js/dropdown.min.js' %}"></script>
 <script  src="{% static 'store/js/modernizr.min.js' %}"></script>
 <script  src="{% static 'store/js/unslider.js' %}"></script>



    <!-- Custom Fonts -->
    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/open-sans-condensed.css?8879239935739047236"
          rel="stylesheet" type="text/css" media="all"/>
    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/open-sans.css?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>

    <!-- Helpers ================================================== -->
    <!-- /snippets/social-meta-tags.liquid -->


    <meta property="og:type" content="website">
    <meta property="og:title" content="Valuetainment Official Store | Patrick Bet - David | Shirts and Gear">
    <meta property="og:image"
          content="http://cdn.shopify.com/s/files/1/2304/3009/t/6/assets/logo.png?8879239935739047236">
    <meta property="og:image:secure_url"
          content="https://cdn.shopify.com/s/files/1/2304/3009/t/6/assets/logo.png?8879239935739047236">
    <meta property="og:description"
          content="Valuetainment Official Store. Buy Officially Licensed Valuetainment Shirts, Apparel and Merchandise. Powered by 500LEVEL.">
    <meta property="og:url" content="https://www.valuetainmentstore.com/">
    <meta property="og:site_name" content="Valuetainment">
    <meta name="twitter:site" content="500level">
    <meta name="twitter:card" content="summary">
    <link rel="canonical" href="https://www.valuetainmentstore.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="theme-color" content="#6e6e6e">
    <link rel="stylesheet" href="{% static 'store/css/bold-brain-widget.css' %}">
    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/roboto.css?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>
    <!-- CSS ================================================== -->
    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/500level.scss.css?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>
    <!-- Header hook for plugins ================================================== -->
    <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/23043009/digital_wallets/dialog">
    <meta name="shopify-checkout-api-token" content="eb377f0760099323ec19a333b70e20bb">
    <meta id="in-context-paypal-metadata" data-shop-id="23043009" data-environment="production" data-locale="en_US"
          data-paypal-v4="true" data-currency="USD">
    <meta id="amazon-payments-metadata" data-amazon-payments="true" data-amazon-payments-seller-id="A8Q9M2AYHKE1I"
          data-amazon-payments-callback-url="https://www.valuetainmentstore.com/23043009/amazon_payments/callback"
          data-amazon-payments-sandbox-mode="false"
          data-amazon-payments-client-id="amzn1.application-oa2-client.28f910719c3b48b5acf003adc1f437fe"
          data-amazon-payments-region="US" data-amazon-payments-language="en-US"
          data-amazon-payments-widget-library-url="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js">
    {% include 'includes/index/media_css.html' %}
    <!-- /snippets/oldIE-js.liquid -->

    {% include 'includes/index/wtf.js.html' %}
    <!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/respond.min.js?8879239935739047236" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//www.valuetainmentstore.com/search?q=a0f643171bf8c4205fb96f0e08961ef4" id="respond-redirect" rel="respond-redirect" />
<script src="//www.valuetainmentstore.com/search?q=a0f643171bf8c4205fb96f0e08961ef4" type="text/javascript"></script>
<![endif]-->


    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/fonts.home.scss.css?8879239935739047236"
          rel="stylesheet" type="text/css" media="all"/>

    <link href='//fonts.googleapis.com/css?family=.|Open+Sans+Condensed:light,normal,bold|Open+Sans+Condensed:light,normal,bold|'
          rel='stylesheet' type='text/css'>


    <script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/player-filter-engine.js?8879239935739047236"
            type="text/javascript"></script>


    <script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/semantic.min.js?8879239935739047236"
            type="text/javascript"></script>

    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/icon.min.css?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>


    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/custom.scss?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>
    <link href="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/hamburgers.css?8879239935739047236" rel="stylesheet"
          type="text/css" media="all"/>


    <script>


    </script>


    <script>
        function shappify_overwrite_sales_clock_text() {
            shappify_sale_over_label = "Sale Over";
            shappify_sale_ends_in_label = "Sale ends in";
            shappify_day_label = "day";
            shappify_days_label = "days";
            shappify_hour_label = "hour";
            shappify_hours_label = "hours";
            shappify_minute_label = "minute";
            shappify_minutes_label = "minutes";
            shappify_second_label = "second";
            shappify_seconds_label = "seconds";
        }
    </script>


</head>

<body id="valuetainment-official-store-patrick-bet-david-shirts-and-gear" class="template-index">


<div id="NavDrawer" class="drawer drawer--left">


    <!-- begin mobile-nav -->


{#    {% include 'includes/index/mobile-nav.html' %}#}
    <!-- //mobile-nav -->
</div>

<div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header">
        <div class="drawer__title h3">Shopping Cart (<span id="drawer-cart-title-qty"></span>)</div>
        <div class="drawer__close js-drawer-close">
            <button type="button" class="timber-icon-fallback-text">
                <span class="timber-icon timber-icon-x" aria-hidden="true"></span>
                <span class="fallback-text">"Close Cart"</span>
            </button>
        </div>
    </div>
    <div id="CartContainer"></div>
</div>


<button class="toggle-mobile-nav hamburger hamburger--squeeze" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>


    {% include 'includes/index/header.html' %}


<div id="PageContainer" class="is-moved-by-drawer">
    <div id="mobile-main-slide"><img
            src="https://s3.amazonaws.com/500level/Storefront+Assets/valuetainment/mobile-main-slide.jpg"/></div>
    <div id="homepage_slider" class="flexslider">
        <ul class="slides">
            <li style="list-style: none; margin: 0; padding: 0;">
                <img class=""
                     src="https://s3.amazonaws.com/500level/Storefront+Assets/valuetainment/desktop-banner-1.jpg"
                     alt=""/>
        </ul>
    </div>
    {% include 'includes/index/content.html' %}

    <script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/fastclick.min.js?8879239935739047236"
            type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/timber.js?8879239935739047236"
            type="text/javascript"></script>


    <script>

    </script>
    <script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/handlebars.min.js?8879239935739047236"
            type="text/javascript"></script>
    <!-- /snippets/ajax-cart-template.liquid -->

    <script id="CartTemplate" type="text/template">

        <form action="/cart" method="post" novalidate class="cart ajaxcart">
            <div class="ajaxcart__inner">
                {#        {{#items}}#}
                <div class="ajaxcart__product">
                    <div class="ajaxcart__row" data-line="{{ line }}">
                        <div class="grid">
                            <div class="grid__item one-quarter"><img src="{{ img }}" alt="">
                            </div>
                            <div class="grid__item three-quarters">
                                <p>
                                    {#                  {{name}}#}
                                    {#                  {{#if variation}}#}
                                    <span class="ajaxcart__product-meta">
{#                        {{variation}}#}
                    </span>
                                    {#                  {{/if}}#}
                                    {#                  {{#properties}}#}
                                    {#                    {{#each this}}#}
                                    {#                      {{#if this}}#}
                                    <span class="ajaxcart__product-meta">
{#                            {{@key}}: {{this}}#}
                        </span>
                                    {#                      {{/if}}#}
                                    {#                    {{/each}}#}
                                    {#                  {{/properties}}#}

                                </p>

                                <div class="grid--full display-table">
                                    <div class="grid__item display-table-cell one-half">

                                        <div class="">
                                            <input type="number" name="updates[]" class="ajaxcart__qty-num"
                                                   value="{{ itemQty }}" min="0" data-id="{{ id }}"
                                                   data-line="{{ line }}" aria-label="quantity" pattern="[0-9]*">
                                            <button type="button"
                                                    class="ajaxcart__qty-adjust ajaxcart__qty--minus _icon-fallback-text"
                                                    data-id="{{ id }}" data-qty="{{ itemMinus }}"
                                                    data-line="{{ line }}">
                                                Remove Item ({{ itemQty }})
                                            </button>


                                        </div>


                                    </div>
                                    <div class="grid__item display-table-cell one-half text-right">
                                        {{ linePrice }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#        {{/items}}#}


            </div>
            <div class="ajaxcart__footer">
                <h1>Summary</h1>
                <div class="grid--full subtotal">
                    <div class="grid__item two-thirds">
                        <p>Subtotal</p>
                    </div>
                    <div class="grid__item one-third text-right">
                        {#            <p>{{{totalPrice}}}</p>#}
                    </div>
                </div>

                <div class="grid--full shipping-taxes">


                    <div class="grid__item two-thirds">Shipping & taxes</div>
                    <div class="grid__item one-third text-right">$__.__</div>


                </div>


                <button type="submit" class="btn--secondary btn--full cart__checkout guest_checkout" name="checkout">
                    Guest Checkout
                </button>


                <div class="additional_checkout_buttons">
                    <button name="button" type="submit" aria-label="Apple Pay" data-strategy="cart"
                            style="display: none"
                            class="additional-checkout-button additional-checkout-button--apple-pay"><span>
                            class="additional-checkout-button-visually-hidden">Checkout with: Apple Pay</span>
                            class="additional-checkout-button__logo"/></button>
                    <div class="additional-checkout-button additional-checkout-button--paypal"
                         data-strategy="cart"></div>
                    <noscript id="noscript-paypal-replacement">
                        <button name="goto_pp" type="submit" id="paypal-express-button"
                                class="additional-checkout-button additional-checkout-button--paypal-express"
                                value="paypal_express" data-strategy="cart"><img alt="Checkout with: PayPal"
                                                                                 src="//cdn.shopify.com/s/assets/checkout/easy-checkout-btn-paypal-9835af2c2b0e2a543b2905789a7f08b678d62de2c77c1b0d16fd7689aff463f3.png"/>
                        </button>
                    </noscript>
                    <div class="additional-checkout-button additional-checkout-button--venmo"
                         data-strategy="cart"></div>
                    <a style="display: inline-block" id="amazon-payments-pay-button-b70dbc7d6e4126762baf"
                       class="amazon-payments-pay-button additional-checkout-button additional-checkout-button--amazon"
                       href="javascript:void(0)" aria-describedby="forwarding-external-message"><img
                            alt="Checkout with: Amazon Pay" class="additional-checkout-button__logo"
                            src="//cdn.shopify.com/s/assets/checkout/easy-checkout-btn-amazon-pay-72091bddbea7788c02d934d95d97fe6a0da7618cadc5838c40f44f190fa24442.png"/></a>
                </div>

            </div>

            <a href="#" onclick="javascript:timber.RightDrawer.close(); return false;"
               class="js-drawer-close checkout-continue-button">Continue Shopping</a>


        </form>

        <div class="accepted-payments">
            <p> Accepted Payments </p>
            <span class="timber-icon timber-icon-american_express"></span>
            <span class="timber-icon timber-icon-master"></span>
            <span class="timber-icon timber-icon-discover"></span>
            <span class="timber-icon timber-icon-visa"></span>
            <span class="timber-icon timber-icon-amazon_payments"></span>
            <span class="timber-icon timber-icon-paypal"></span>
        </div>


    </script>
    <script id="AjaxQty" type="text/template">

        <div class="ajaxcart__qty">
            <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus _icon-fallback-text"
                    data-id="{{ id }}" data-qty="{{ itemMinus }}">
                <span class="icon icon-minus" aria-hidden="true"></span>
                <span class="fallback-text">&minus;</span>
            </button>
            <input type="text" class="ajaxcart__qty-num" value="{{ itemQty }}" min="0" data-id="{{ id }}"
                   aria-label="quantity" pattern="[0-9]*">
            <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus _icon-fallback-text"
                    data-id="{{ id }}" data-qty="{{ itemAdd }}">
                <span class="icon icon-plus" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
            </button>
        </div>

    </script>
    <script id="JsQty" type="text/template">

        <div class="js-qty">
            <button type="button" class="js-qty__adjust js-qty__adjust--minus _icon-fallback-text" data-id="{{ id }}"
                    data-qty="{{ itemMinus }}">
                <span class="icon icon-minus" aria-hidden="true"></span>
                <span class="fallback-text">&minus;</span>
            </button>
            <input type="text" class="js-qty__num" value="{{ itemQty }}" min="1" data-id="{{ id }}"
                   aria-label="quantity" pattern="[0-9]*" name="{{ inputName }}" id="{{ inputId }}">
            <button type="button" class="js-qty__adjust js-qty__adjust--plus _ico-fallback-text" data-id="{{ id }}"
                    data-qty="{{ itemAdd }}">
                <span class="icon icon-plus" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
            </button>
        </div>

    </script>

    <script>
        //   jQuery('#drawer-cart-title-qty').html('()');
    </script>

    <script src="//cdn.shopify.com/s/files/1/2304/3009/t/6/assets/ajax-cart.js?8879239935739047236"
            type="text/javascript"></script>
    <script>
        jQuery(function ($) {
            ajaxCart.init({
                formSelector: '#AddToCartForm',
                cartContainer: '#CartContainer',
                addToCartSelector: '#AddToCart',
                cartCountSelector: '#CartCount,#drawer-cart-title-qty',
                cartCostSelector: '#CartCost',
                moneyFormat: "${{amount}}"
            });
        });

        jQuery('body').on('ajaxCart.afterCartLoad', function (evt, cart) {
            // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
            timber.RightDrawer.open();
        });
    </script>


    <script>

        //      Can this be deleted?

        // window.addEventListener('load',function(){
        // var linkerParam =ga.getAll()[0].get('linkerParam');
        // jQuery('#CartContainer form').attr('action',"/cart?"+linkerParam);
        // })
    </script>

    <script>
        var timer = setInterval(function () {
            if (jQuery('[action="/cart"]').length > 0) {
                var params = ga.getAll()[0].get('linkerParam')
                var action = jQuery('.cart.ajaxcart').attr('action');
                jQuery('.cart.ajaxcart').attr('action', action + "?" + params);
                console.log("Seen cart");
                clearInterval(timer);

            }
        }, 1000)
    </script>


    <script type="text/javascript">
        var triggermail = triggermail || [];
        triggermail.load = function (a) {
            var b = document.createElement("script");
            b.type = "text/javascript";
            b.async = !0;
            b.src = ("https:" === document.location.protocol ? "https://" : "http://") + "triggeredmail.appspot.com/triggermail.js/" + a + ".js";
            a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(b, a)
        };
        triggermail.load("500_level");
        window.triggermail = triggermail;
    </script>


    <!-- Begin Google Analytics Vertical Attributes -->
    <script type="text/javascript">
        ga('set', 'dimension1', 'shopify_US_1825854390331_17804177965115');
        ga('set', 'dimension2', 'index');
        ga('set', 'dimension3', '24.99');
    </script>

    <script type="text/javascript">
        var _learnq = _learnq || [];

        _learnq.push(['account', 'PruMDc']);

        (function () {
            var b = document.createElement('script');
            b.type = 'text/javascript';
            b.async = true;
            b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
            var a = document.getElementsByTagName('script')[0];
            a.parentNode.insertBefore(b, a);
        })();
    </script>
    <!-- Begin linked options on product page script -->
    <script src="{% static 'store/js/spofify.js' %}">
        // (c) Copyright 2016 Caroline Schnapp. All Rights Reserved. Contact: mllegeorgesand@gmail.com
        // See https://docs.shopify.com/themes/customization/navigation/link-product-options-in-menus

    </script>
</div>
</body>


</html>

